body {
    width: 50%;
    margin: 0 auto;
    font: normal 100%;
    padding: 2rpx;
}

@media screen and (max-device-width: 960px) {
    body { width: 100% }
}

h1,h2,h3,h4,h5 { text-align: center; }

.content { 
    font-family: monospace; 
    font-size: 1.0em;
}
.footer {
    text-align: center; font-size: 0.8em;
}
